xml/rutas.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema 
		xmlns="http://www.uniovi.es" 
		elementFormDefault="qualified" 
		targetNamespace="http://www.uniovi.es" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="rutas">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="3" maxOccurs="unbounded" ref="ruta" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ruta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre" />
				<xs:element ref="tipo" />
				<xs:element ref="transporte" />
				<xs:element minOccurs="0" maxOccurs="1" ref="fechaInicio" />
				<xs:element minOccurs="0" maxOccurs="1" ref="horaInicio" />
				<xs:element ref="duracion" />
				<xs:element ref="agencia" />
				<xs:element ref="descripcion" />
				<xs:element ref="personasAdecuadas" />
				<xs:element ref="lugarInicio" />
				<xs:element ref="direccionInicio" />
				<xs:element ref="coordenadas" />
				<xs:element ref="referencias" />
				<xs:element ref="recomendacion" />
				<xs:element ref="hitos" />
				<xs:element ref="planimetria" />
				<xs:element ref="altimetria" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="nombre" type="xs:string" />

	<xs:element name="tipo" type="xs:string" />

	<xs:element name="transporte" type="xs:string" />

	<xs:element name="fechaInicio" type="xs:date" />

	<xs:element name="horaInicio" type="xs:time" />

	<xs:element name="duracion" type="xs:string" />

	<xs:element name="agencia" type="xs:string" />

	<xs:element name="descripcion" type="xs:string" />

	<xs:element name="personasAdecuadas" type="xs:string" />

	<xs:element name="lugarInicio" type="xs:string" />

	<xs:element name="direccionInicio" type="xs:string" />

	<xs:element name="coordenadas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longitud" />
				<xs:element ref="latitud" />
				<xs:element ref="altitud" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="longitud" type="xs:decimal" />

	<xs:element name="latitud" type="xs:decimal" />

	<xs:element name="altitud" type="xs:decimal" />

	<xs:element name="referencias">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="3" maxOccurs="unbounded" ref="referencia" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="referencia" type="xs:anyURI" />

	<xs:element name="recomendacion" type="recomendacionType" />

	<xs:simpleType name="recomendacionType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
	</xs:simpleType>

	<xs:element name="hitos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="5" maxOccurs="unbounded" ref="hito" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="hito">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre" />
				<xs:element ref="descripcion" />
				<xs:element ref="coordenadas" />
				<xs:element ref="distancia" />
				<xs:element ref="galeriaFotos" />
				<xs:element minOccurs="0" maxOccurs="1" ref="galeriaVideos" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="distancia">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attribute name="unidades" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="galeriaFotos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="5" ref="foto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="foto" type="xs:string" />

	<xs:element name="galeriaVideos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="3" ref="video" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="video" type="xs:string" />

	<xs:element name="planimetria" type="xs:string" />

	<xs:element name="altimetria" type="xs:string" />
</xs:schema>